/*! Place your custom styles here */
span#we-support img {
    margin-bottom: 0;
    height: 35px;
    padding: 5px;
}

span#we-support-desc {
    margin-bottom: 10px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}

.custom-footer {
    margin-top: 5em;
}

#page-title {
    margin-bottom: 3em;
}

#page-title h1 {

}
